@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');

:root {
    --primary-color: #102542;
    --secondary-color: #48A9A6;
    --accent1-color: #FFFFFF;
    --accent2-color: #f1e7b9;

    --heading-font: 'Lato', sans-serif;
    --paragraph-font: 'Montserrat', sans-serif;

    --nav-background-color: #102542;
    --nav-link-color: #FFFFFF;
    --nav-hover-link-color: #000000;
    --nav-hover-background-color: #48A9A6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

p, figcaption {
    font-family: var(--paragraph-font);
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: var(--accent2-color);
}

header img {
    max-width: 100px;
    margin: 1em 4em;
}

header a {
    font-family: var(--paragraph-font);
}

header nav {
    display: flex;
    margin: 1em 4em;
}

header nav a {
    padding: 1em 2em;
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
}

header nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

a {
    text-decoration: none;
}

main, header, footer {
    max-width: 840px;
    margin: auto;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 15px;
    left: 280px;
    color: var(--accent1-color);
    text-shadow: 0 0 8px black;
    font-weight: lighter;
}

.hero article {
    position: absolute;
    top: 70px;
    left: 80px;
    right: 80px;
    background-color: rgba(16, 37, 66, .6);
    padding: 10px;
    color: var(--accent1-color);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
}

#clientimg {
    width: 160px;
}

.history h2 {
    text-align: center;
}

.history-cont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.history-cont * {
    padding: 15px;
}

.history-cont img {
    max-width: 250px;
}

.awaits {
    text-align: center;
}

.awaits-cont {
    display: flex;
    justify-content: space-evenly;
}

.awaits-cont figure {
    padding: 10px;
    font-size: 13px;
}

.awaits-cont img {
    max-width: 150px;
}

footer {
    background-color: var(--accent2-color);
    display: grid;
    grid-template-columns: 6fr 1fr;
    padding: 1em;
    margin-top: 1em;
}

footer p {
    margin: auto;
}

.sociallinks img {
    text-decoration: none;
    max-width: 30px;
}